body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-left {
}

.header-nav {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header-nav a {
  text-decoration: none;
}

.header-center {
  width: 120px;
  height: 100px;
}

.header-center img {
  width: 100%;
  padding-top: 20px;
}
.header-right {
  margin-right: 100px;
}
.header-right button {
  background-color: rgb(242, 103, 49);
  color: white;
  border: none;
  padding: 8px 5px;
}

.header-right input {
  width: 250px;
  height: 30px;
}

.banner {
  display: flex;
}

.banner img {
  width: 50%;
}

.sellers-title {
  text-align: center;
  color: red;
}

.sellers-product {
  display: flex;
}

.sellers-img {
  width: 50%;
}

.sellers-img img {
  width: 650px;
  height: 340px;
  margin-left: 150px;
  margin-top: 50px;
}

.sellers-text {
  width: 50%;
  padding: 20px;
  font-size: large;
  line-height: 1.5;
}

.sellers-text h2 {
  color: #0b9edb;
}

.sellers-text-highlight {
  color: #f7831e;
  font-style: italic;
  font-weight: bold;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container-title {
  text-align: center;
  color: #ff3333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.container-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.container-list-item {
  width: calc(25% - 30px);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  overflow: hidden;
}

.container-list-item > img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.container-list-item > div:last-child {
  background-color: #ff7518;
  color: white;
  padding: 12px;
  text-align: center;
}

.footer {
  display: block;
  text-align: center;
  color: white;
  background-color: #f59452;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
